
 INFO Running migrations. 

 2026_05_15_010000_extend_tenant_branding_and_scratch_card_enterprise_fields .. 
 ⇂ select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'schools' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists` 
 ⇂ select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'scratch_card_batches' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists` 
 ⇂ select exists (select 1 from information_schema.tables where table_schema = schema() and table_name = 'scratch_cards' and table_type in ('BASE TABLE', 'SYSTEM VERSIONED')) as `exists` 

